body{
	background: #EFEEEB;
}

h1 {
	color: #202329;
	font-family: 'Playfair Display';
	font-size: 60px;
	font-weight: 900;
	line-height: 72px;
	margin-bottom: 48px;
}

h1:before {
	background: #009A9C;
	content: '';
	display: block;
	height: 5px;
	margin-bottom: 43px;
	width: 40px;
}

p {
	color: #40434A;
	font-family: 'Lora';
	font-size: 22px;
	font-weight: 400;
	line-height: 36px;
	margin-bottom: 36px;
	max-width: 500px;
}

a {
	color: #009A9C;	border-bottom: 2px solid #bdbbb5;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #202329;
}