/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:after, .sample .text:after, #postnormal .source:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

body {
  background: #eaeaea;
  box-sizing: border-box;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  -webkit-text-size-adjust: 100%; }

a {
  color: inherit;
  text-decoration: none; }

footer {
  padding: 50px;
  text-align: center; }
  footer p {
    color: #555;
    font: 400 16px/1 'open sans';
    margin: 0; }
    footer p a {
      color: #555;
      font-weight: 700; }
      footer p a:hover {
        color: #000; }

.sample {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .sample .text {
    /*margin: 0 auto;*/
    /*margin-right: 20em;*/
    /*padding: 100px 20px;*/
    /*position: relative;*/
    /*text-align: left;*/
    /*width: 820px; */
  }

  .intro-text{
    color: white;
    vertical-align: baseline;
    text-align: right;
    font: 400 18px/20px Arvo;
    padding-top: 15px
  }
.accent{
  font-weight: 700;
  /*background: rgba(255,255,255,0.9);*/
  padding: 2px;
}

.orange-text{
  color: #CC4425;
}


#headline {
  /*background: #000; */
  /*background: url("../img/bg_opening.jpg"), rgba(0,0,0,0.6);*/
  background-blend-mode: overlay;
  background-size: cover;}
  #headline .text {
    /*width: 50%; */
    /*border-left: 8px solid #BFBFBF;*/
  }
  #headline h1 {
    color: #fff;
    font: 700 72px/74px Oswald;
    letter-spacing: 2px;
    line-height: 66px;
    text-transform: uppercase; }
  #headline h2 {
    color: #fff;
    font: 700 40px/48px Oswald;
    text-transform: uppercase;
  }




/*bg*/

.slideshow {
  list-style: none;
  z-index: 1;
}
.slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: imageAnimation 24s linear infinite 0s;
  -moz-animation: imageAnimation 24s linear infinite 0s;
  animation: imageAnimation 24s linear infinite 0s;
}
.slideshow li h3 {
  position: absolute;
  text-align: center;
  z-index: 2;
  bottom: 150px;
  left: 0;
  right: 0;
  opacity: 0;
  font-size: 4.0625em;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  -webkit-animation: titleAnimation 24s linear 1 0s;
  -moz-animation: titleAnimation 24s linear 1 0s;
  animation: titleAnimation 24s linear 1 0s;
}
@media only screen and (min-width: 768px) {
  .slideshow li h3 {
    bottom: 30px;
    font-size: 8.125em;
  }
}
@media only screen and (min-width: 1024px) {
  .slideshow li h3 {
    font-size: 10.9375em;
  }
}

.slideshow li:nth-child(1) span {
  background-blend-mode: overlay;
  background: url("../img/bg1.jpg"), rgba(0,0,0,0.4);
  background-size: cover;

}

.slideshow li:nth-child(2) span {
    background: url("../img/bg2.jpg"), rgba(0,0,0,0.4);
  background-blend-mode: overlay;
  background-size: cover;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
  background: url("../img/bg3.jpg"), rgba(0,0,0,0.4);
  background-blend-mode: overlay;
  background-size: cover;
    -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  animation-delay: 12s;
}

.slideshow li:nth-child(4) span {
  background: url("../img/bg4.jpg"), rgba(0,0,0,0.2);
  background-blend-mode: overlay;
  background-size: cover;
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  animation-delay: 18s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.no-cssanimations .slideshow li span {
  opacity: 1;
}
